body {
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
}

.header-text h1 {
  color: white;
}

.header-text p {
  color: white;
}

video {
  height: 100vh;
}

.video-header {
  height: 100vh;
}

.video-header .header-text{
  position: absolute;
  z-index: 2;
  bottom: 50%;
  text-align: center;
  padding: 4em;
  background-color: black;
}

.container {
  padding: 4em;
}
